extends layout

block content
    div.container
        h1 #{title}
        p.lead #{description}
        p by 
            a(href='/user/'+owner) #{owner}
    form.form-horizontal(action='/download' role='form', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='hidden', name='title', id='title', value=title)
        input(type='hidden', name='owner', id='owner', value=owner)
        input(type='hidden', name='description', id='description', value=description)
        button.btn.btn-success(type='submit') 
            i.fa.fa-download  Download CSV